
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './welife.scss';
@import './element-variables.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
}

ul li {
  list-style: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

// margin
.nomargin {
  margin: 0;
}
.nomart {
  margin-top: 0;
}
.nomarb {
  margin-bottom: 0;
}
.nomarl {
  margin-left: 0;
}
.nomarr {
  margin-right: 0;
}
.mrt2 {
  margin-top: 2px;
}
.mrt4 {
  margin-top: 4px;
}
.mrt5 {
  margin-top: 5px;
}
.mrt10 {
  margin-top: 10px;
}
.mrt15 {
  margin-top: 15px;
}
.mrt20 {
  margin-top: 20px;
}
.mrt30 {
  margin-top: 30px;
}
.mrt40 {
  margin-top: 40px;
}
.mrb15 {
  margin-bottom: 15px;
}
.mrb20 {
  margin-bottom: 20px;
}
.mrb40 {
  margin-bottom: 40px;
}
.mrt-20 {
  margin-top: -20px;
}
.mrt-10 {
  margin-top: -10px;
}
.mrt-30 {
  margin-top: -30px;
}
.mrt-40 {
  margin-top: -40px;
}

// padding
.pad10 {
  padding: 10px;
}
.pad15 {
  padding: 15px;
}
.pad20 {
  padding: 20px;
}
.npdt {
  padding-top: 0px;
}
.npdl {
  padding-left: 0px;
}
.npdr {
  padding-right: 0px;
}
.npdb {
  padding-bottom: 0px;
}
.padt2 {
  padding-top: 2px;
}
.padt5 {
  padding-top: 5px;
}
.padt10 {
  padding-top: 10px;
}
.padt15 {
  padding-top: 15px;
}
.padt20 {
  padding-top: 20px;
}
.padt30 {
  padding-top: 30px;
}
.padt40 {
  padding-top: 40px;
}
.padl10 {
  padding-left: 10px;
}
.padr15 {
  padding-right: 15px;
}
.padr10 {
  padding-right: 10px;
}
.padl15 {
  padding-left: 15px;
}
.padb15 {
  padding-bottom: 15px;
}
.padb20 {
  padding-bottom: 20px;
}
.padb40 {
  padding-bottom: 40px;
}
.padt-20 {
  padding-top: -20px;
}
.padt-10 {
  padding-top: -10px;
}
.padt-30 {
  padding-top: -30px;
}
.padt-40 {
  padding-top: -40px;
}

// font size
.ftz0 {
  font-size: 0;
}
.ftz11 {
  font-size: 11px;
}
.ftz12 {
  font-size: 12px;
}
.ftz13 {
  font-size: 13px;
}
.ftz15 {
  font-size: 15px;
}
.ftz17 {
  font-size: 17px;
}
.ftz19 {
  font-size: 19px;
}
.ftz21 {
  font-size: 21px;
}
.ftz31 {
  font-size: 31px;
}

// width
.width50 {
  width: 50px;
}
.width80 {
  width: 80px;
}
.width100 {
  width: 100px;
}
.width120 {
  width: 120px;
}
.width150 {
  width: 150px;
}
.width180 {
  width: 180px;
}
.width200 {
  width: 200px;
}

// align
.align-left {
  text-align: left;
}
.align-right {
  text-align: left;
}
// 原生表格展示
table.native-table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  background-color: #fff;
  tr {
    th {
      border: 1px solid #ddd;
      padding: 5px 10px;
      font-size: 14px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: normal;
      vertical-align: text-top;
      line-height: 25px;
    }
    td {
      border: 1px solid #ddd;
      padding: 5px 10px;
      font-size: 14px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: normal;
      vertical-align: text-top;
      line-height: 25px;
    }
    td.link { // 链接
      color: $primary-color;
      cursor: pointer;
    }
    td.created-by {  // 创建人
      color: $primary-color;
    }
  }
}
